body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(2, 133, 13);
}

p {
    font-size: 25px;
    font-weight: bold;
}